h1 {color: firebrick; font-family: Verdana;}
h2 {color:indianred;}
label {font-size: 20px;}
input {background-color: yellow;}
textarea {background-color: ivory;}

.header {
  background-color: darkred;
  text-align: "center"; 
  padding: 20px;
}

body {
  padding: 25px;
}

.title {color: #5C6AC4;}

.header {
  color: #FF9999;
  background-color: papayawhip;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.topnav {
  overflow: hidden;
  background-color: peachpuff;
}

.topnav a {
  float: left; 
  display: block;
  color: tomato;
  text-align: center;
  padding: 14px 16px;  
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
    background-color: seashell;
    color: red;
}
.column {float: left;}
.column.side { width: 30%;}
.column.middle { width: 70%;}

.footer {
  background-color: oldlace;
  text-align: center;
  padding: 10px;
}


